In [7]:
import pandas as pd
credits = pd.read_csv(r"C:\Users\vanshveer\Downloads\movies.csv")

In [9]:
credits.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [19]:
import pandas as pd
credits = pd.read_csv(r"C:\Users\vanshveer\Downloads\movies.csv")
actor_name = input("Enter an Actor")
actor_movies = credits[credits['star'] == actor_name]
# Sort the filtered DataFrame by 'score' column in descending order
sorted_movies = actor_movies.sort_values(by='score', ascending=False)

# Display the top 5 rated movies of the actor
top_5_movies = sorted_movies.head(5)['name']
print("Top 5 rated movies of", actor_name)
print(top_5_movies)

Enter an ActorPaul Walker
Top 5 rated movies of Paul Walker
4868      Running Scared
4985         Eight Below
4250    2 Fast 2 Furious
4693       Into the Blue
4277            Timeline
Name: name, dtype: object

In [22]:
# Replace "Tom Hanks" with the actor's name you're interested in
actor_name = "Tom Hanks"

# Function to check if the actor is in the cast of a movie
def is_actor_in_cast(movie_cast, actor_name):
    for actor in movie_cast:
        if actor_name.lower() in actor.lower():
            return True
    return False

# Filter the DataFrame to include only movies featuring the specified actor
actor_movies = movies[movies['cast'].apply(lambda x: is_actor_in_cast(x, actor_name))]

# Sort the filtered DataFrame by 'score' column in descending order if 'score' column is present
if 'score' in movies.columns:
    sorted_movies = actor_movies.sort_values(by='score', ascending=False)
else:
    sorted_movies = actor_movies  # If 'score' column is not present, no sorting is performed

# Extract only the 'title' column of the top 5 rated movies
top_5_movies_titles = sorted_movies.head(5)['title']

# Display the top 5 rated movies' titles of the actor
print("Top 5 rated movies of", actor_name)
print(top_5_movies_titles)

NameError: name 'movies' is not defined